In [7]:
import requests
import regex as re
import pandas as pd
from tqdm._tqdm_notebook import tqdm

# Scraping Times of India 2020 News Data

In [20]:
from bs4 import BeautifulSoup
def get_news(url):
    
    global df
    
    page_request = requests.get(url)
    data = page_request.text
    soup = BeautifulSoup(data,"html.parser")
    
    headlines_list = soup.find_all('a',{'href': re.compile("(http://timesofindia.indiatimes.com/)")})
    
    # get news headlines 
    result = []
    for i in headlines_list:
        result.append(i.renderContents())
    
    # remove duplicates
    text = list(dict.fromkeys(result))
    print(len(result), len(text))
    
    # get date 
    date = soup.find_all('b')[0].text
    temp = {'Date':date, 'News':text}
    df = df.append(temp, ignore_index=True)

# Update TOI page's URL dynamically to traverse pages

In [37]:
def scrap_TimesOfIndia(START_TIME, NO_OF_DAYS_MONTH):
    
    for month_days in tqdm(NO_OF_DAYS_MONTH):
        DATE = 0
        for i in range(month_days):
            DATE = DATE+1
            START_TIME = START_TIME+1
            url = "https://timesofindia.indiatimes.com/2020/"+str(i)+"/"+str(DATE)+"/archivelist/year-2020,month-1,starttime-"+str(START_TIME)+".cms"
            print(DATE, START_TIME)
            try:
                get_news(url)
            except e:
                print("no such page", url)
                print(e)

# Logic to get No.of.days in a month in 2020 for URL Updation

In [22]:
def get_num_days_month(year):
    
    result = []
    for month in range(1,13):      
        if(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
            result.append(31)
        elif((month == 2) and ((year%400==0) or (year%4==0 and year%100!=0))):	
            result.append(29)
        elif(month == 2):
            result.append(28)
        else:
            result.append(30)
    return result

In [25]:
NO_OF_DAYS_MONTH = get_num_days_month(2020)

In [26]:
NO_OF_DAYS_MONTH

[31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Dataframe to capture the data

In [36]:
df = pd.DataFrame(columns = {'Date', 'News'})

In [39]:
START_TIME = 43830
scrap_TimesOfIndia(START_TIME, NO_OF_DAYS_MONTH)

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

1 43831
2 43832
3 43833
4 43834
5 43835
6 43836
7 43837
8 43838
9 43839
10 43840
11 43841
12 43842
13 43843
14 43844
15 43845
16 43846
17 43847
18 43848
19 43849
20 43850
21 43851
22 43852
23 43853
24 43854
25 43855
26 43856
27 43857
28 43858
29 43859
30 43860
31 43861
1 43862
2 43863
3 43864
4 43865
5 43866
6 43867
7 43868
8 43869
9 43870
10 43871
11 43872
12 43873
13 43874
14 43875
15 43876
16 43877
17 43878
18 43879
19 43880
20 43881
21 43882
22 43883
23 43884
24 43885
25 43886
26 43887
27 43888
28 43889
29 43890
1 43891
2 43892
3 43893
4 43894
5 43895
6 43896
7 43897
8 43898
9 43899
10 43900
11 43901
12 43902
13 43903
14 43904
15 43905
16 43906
17 43907
18 43908
19 43909
20 43910
21 43911
22 43912
23 43913
24 43914
25 43915
26 43916
27 43917
28 43918
29 43919
30 43920
31 43921
1 43922
2 43923
3 43924
4 43925
5 43926
6 43927
7 43928
8 43929
9 43930
10 43931
11 43932
12 43933
13 43934
14 43935
15 43936
16 43937
17 43938
18 43939
19 43940
20 43941
21 43942
22 43943
23 43944
24 43945
25 43946
26 43947
27 43948
28 43949
29 43950
30 43951
1 43952
2 43953
3 43954
4 43955
5 43956
6 43957
7 43958
8 43959
9 43960
10 43961
11 43962
12 43963
13 43964
14 43965
15 43966
16 43967
17 43968
18 43969
19 43970
20 43971
21 43972
22 43973
23 43974
24 43975
25 43976
26 43977
27 43978
28 43979
29 43980
30 43981
31 43982
1 43983
2 43984
3 43985
4 43986
5 43987
6 43988
7 43989
8 43990
9 43991
10 43992
11 43993
12 43994
13 43995
14 43996
15 43997
16 43998
17 43999
18 44000
19 44001
20 44002
21 44003
22 44004
23 44005
24 44006
25 44007
26 44008
27 44009
28 44010
29 44011
30 44012
1 44013
2 44014
3 44015
4 44016
5 44017
6 44018
7 44019
8 44020
9 44021
10 44022
11 44023
12 44024
13 44025
14 44026
15 44027
16 44028
17 44029
18 44030
19 44031
20 44032
21 44033
22 44034
23 44035
24 44036
25 44037
26 44038
27 44039
28 44040
29 44041
30 44042
31 44043
1 44044
2 44045
3 44046
4 44047
5 44048
6 44049
7 44050
8 44051
9 44052
10 44053
11 44054
12 44055
13 44056
14 44057
15 44058
16 44059
17 44060
18 44061
19 44062
20 44063
21 44064
22 44065
23 44066
24 44067
25 44068
26 44069
27 44070
28 44071
29 44072
30 44073
31 44074
1 44075
2 44076
3 44077
4 44078
5 44079
6 44080
7 44081
8 44082
9 44083
10 44084
11 44085
12 44086
13 44087
14 44088
15 44089
16 44090
17 44091
18 44092
19 44093
20 44094
21 44095
22 44096
23 44097
24 44098
25 44099
26 44100
27 44101
28 44102
29 44103
30 44104
1 44105
2 44106
3 44107
4 44108
5 44109
6 44110
7 44111
8 44112
9 44113
10 44114
11 44115
12 44116
13 44117
14 44118
15 44119
16 44120
17 44121
18 44122
19 44123
20 44124
21 44125
22 44126
23 44127
24 44128
25 44129
26 44130
27 44131
28 44132
29 44133
30 44134
31 44135
1 44136
2 44137
3 44138
4 44139
5 44140
6 44141
7 44142
8 44143
9 44144
10 44145
11 44146
12 44147
13 44148
14 44149
15 44150
16 44151
17 44152
18 44153
19 44154
20 44155
21 44156
22 44157
23 44158
24 44159
25 44160
26 44161
27 44162
28 44163
29 44164
30 44165
1 44166
2 44167
3 44168
4 44169
5 44170
6 44171
7 44172
8 44173
9 44174
10 44175
11 44176
12 44177
13 44178
14 44179
15 44180
16 44181
17 44182
18 44183
19 44184
20 44185
21 44186
22 44187
23 44188
24 44189
25 44190
26 44191
27 44192
28 44193
29 44194
30 44195
31 44196

In [40]:
df

                                                  News          Date
0    [b'Shivin Narang injures his hand on the set o...   1 Jan, 2020
1    [b'New year began on a cheerful note in namma ...   2 Jan, 2020
2    [b'Break-ups in tellyland', b'Darshana Rajendr...   3 Jan, 2020
3    [b"Veda Krishnamurthy: 2020 is exciting for wo...   4 Jan, 2020
4    [b'Live it up in 2020', b'Diet to induce sound...   5 Jan, 2020
..                                                 ...           ...
361  [b'Unlikely Heroes: I realised the power of so...  27 Dec, 2020
362  [b'Sandalwood demands action against miscreant...  28 Dec, 2020
363  [b'Jacqueline Fernandez to do a special appear...  29 Dec, 2020
364  [b'As weddings go minimalist, thanks to the pa...  30 Dec, 2020
365  [b'Sudeep\xe2\x80\x99s Phantom sets a bio bubb...  31 Dec, 2020

[366 rows x 2 columns]

# Saving the data in CSV file

In [46]:
df.to_csv('news_2020.csv', index=False)

In [47]:
df2 = pd.read_csv('news_2020.csv')

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   News    366 non-null    object
 1   Date    366 non-null    object
dtypes: object(2)
memory usage: 5.8+ KB